body {
    width: 960px;
    background-color: aquamarine;
}
h1 {
    background-position: center;
    background-color: #ced46e;
    width: 840px;
}
.seven {
    display: flex;
    flex-wrap: wrap;
    width: 840px;
    margin: 0 auto;
}
.item {
    width: 280px;
    height: 300px;
    margin: auto;
    padding: 0;
    border: 1px solid gray;
    background-color: #79572b;
}
.item img {
    width: 280px;
}
.item_name {
    padding: 10px;
    padding-bottom: 0;
    color: #79572b;
}
.item_price {
    padding: 10px;
    padding-top: 0;
}